
.NewsPlace{
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/bg6.png");
}
.newsItem{
    flex-grow: 1;
    background: #583a3f;
    margin: 5px;
    position: relative;
    width: min-content;
    text-align: start;
    padding: 10px;
    min-width: 32%
}
.newsItem:nth-child(2n){
    background-color: white;
    border: 1px solid #583a3f;
}
.newsDate{
    position: absolute;
    top: 5%;
    right: 1%;
    color: rgb(230, 34, 34);
}